@use "./../util/vars.scss" as *;

.navbar_wrapper__scrolled {
  background-color: $asu_white;
  color: #646f79;
  // .link_wrapper_dark {
  //   * {
  //     color: #646f79 !important;
  //     &:hover {
  //       color: $asu_black;
  //     }
  //   }
  // }
}

#navbar_wrapper {
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 0 3rem;
  min-height: 5.563rem;
  // margin: 0 auto;

  position: fixed;
  top: 0;
  left: 0;

  #logo {
    max-width: 180px;

    // display: inline-block;
    // padding-top: 0.3125rem;
    // padding-bottom: 0.3125rem;
    // margin-right: 1rem;
    // font-size: 1.25rem;
    // line-height: inherit;
    // white-space: nowrap;
    width: auto;
    height: auto;
  }

  #link_wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    min-width: fit-content;
    width: 30vw;
    align-items: center;
    margin: auto 2rem;
    // flex: 1;
    * {
      font-size: large;
      font-weight: 400;
      color: $asu_white;
      &:hover {
        color: $asu_grey;
      }
    }
  }

  #navbar_button_wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    min-width: fit-content;
    width: 30vw;
    // font-family: "Poppins", sans-serif;
    * {
      margin: 0 0.25rem;
    }
    .button {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      border: 2px solid $asu_white;
      border-radius: 0.5rem;
      padding: 0.5rem 0.25rem;
      color: $asu_white;
    }
    #login_button {
      background: $asu_white;
      color: $asu_black;
    }
  }
}
