@use "./../../util/vars.scss" as *;

#header_wrapper {
  background-image: // linear-gradient(-135deg, hsl(341, 66%, 33%, 0.4) 25%, hsl(341, 66%, 33%, 0.4)) 100%,
    linear-gradient(-135deg, hsla(341, 66%, 33%, 0.75) 25%, hsla(341, 66%, 33%, 0.75) 100%),
    url(./../../../../public/bg/code-grid.png);

  background-size: cover;
  height: fit-content;
  width: 100vw;
  color: $asu_white;
  // when you change the 120px, change the handleScroll function in header.js to always be half of what you set padding top to be
  // padding: 120px 3rem 0 3rem; // top/bottom, left/right
  padding-top: 120px !important;
}

#header_content {
  color: $asu_white;
  padding: 0 3rem 2rem 3rem;
  width: 80vw;
  // text-align: left;
  #title {
    font-size: 3.5rem;
    font-weight: 400;
  }

  #description {
    font-size: 1rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 974px) {
  #header_content {
    width: 50vw;
    #description {
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
}
