@use "./../../util/vars.scss" as *;

#header_content {
  color: $asu_white;
  padding: 0 3rem 2rem 3rem;
  width: 50vw;
  #title {
    font-size: 3.5rem;
    font-weight: 400;
  }

  #description {
    font-size: 1.25rem;
    font-weight: 300;
  }
}
