@use "./../../../util/vars.scss" as *;

// fundumental styles for the navbar no matter if the user has past the threshold or not
.navbar_wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 0 3rem;
  min-height: 5.563rem;

  z-index: 100;

  transition: all 1s ease-in-out;

  position: fixed;
  top: 0;
  left: 0;

  #logo {
    max-width: 180px;
    width: auto;
    height: auto;
  }

  #link_wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    min-width: fit-content;
    width: fit-content;
    align-items: center;
    margin: auto 2rem;
    // list item styles
    * {
      font-size: large;
      font-weight: 400;
    }
    #linkItemStyles {
      margin: 0 0.5rem;
    }
  }

  #navbar_button_wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    min-width: fit-content;
    width: 30vw;
    margin: 0 0.25rem;

    * {
      margin: 0 0.25rem;
      transition: all 300ms ease-out;
    }
    // login & signup styles
    //
    .button {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      border-radius: 1.5rem;
      padding: 0.5rem 0.5rem;
      letter-spacing: 1.45px;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
    }
  }
  #dropdown {
    // lang button styles
    .languageButton {
      display: flex;
      justify-content: center;
      border-radius: 5rem;
      align-items: center;
      // changes the size of the circle
      padding: 0.7rem;
      letter-spacing: 1.45px;
      // changes the size of the icon
      font-size: 1rem;
    }

    // dropdown content styles
    #dropdown_content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      position: absolute;
      right: 1rem;
      top: 4.5rem;
      background: $asu_white;
      box-shadow: 0 1px 10px rgb(26 26 26 / 40%);
      padding: 20px;
      &::before {
        content: " ";
        position: fixed;
        /*
          the positioning of the triamge is up in the air and i don't know if it's actually responsive 
        */
        top: 4rem;
        right: 3.75rem;

        // makes a triangle using css
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top: 0;
        border-bottom: 10px solid $asu_white;
      }
    }
  }
}

// styles for the navbar if  the user scroll hasn't pasted the threshold yet
#navbar_nonScrolled {
  background: transparent;
  #link_wrapper {
    #linkItemStyles {
      color: $asu_white;
      &:hover {
        color: $asu_grey;
      }
    }
  }
  #navbar_button_wrapper {
    #registerStyle {
      border: 1px solid $asu_white;
      color: $asu_white;
      &:hover {
        background: $asu_white;
        color: $asu_black;
      }
    }
    #loginStyle {
      border: 1px solid $asu_white;
      background: $asu_white;
      color: $asu_black;
      &:hover {
        color: $asu_black;
        background-color: #ececec;
        border-color: #e6e6e6;
      }
    }
    #langBtnStyles {
      background: $asu_white;
      &:hover {
        color: $asu_black;
        background-color: #ececec;
        border-color: #e6e6e6;
      }
    }
  }
  #dropdown {
    #langBtnStyles {
      background: $asu_white;
      &:hover {
        color: #212529;
        background-color: #ececec;
        border-color: #e6e6e6;
      }
    }
  }
}

// styles for the navbar if  the user scroll has pasted the threshold yet
#navbar_scrolled {
  background: $asu_white;
  box-shadow: $box_shadow;
  #link_wrapper {
    #scrolledLinkItemStyles {
      color: $asu_dark_grey;
      &:hover {
        color: $asu_maroon;
      }
    }
  }
  #navbar_button_wrapper {
    #registerScrollStyle {
      border: 1px solid $asu_maroon;
      color: $asu_maroon;
      &:hover {
        background: $asu_maroon;
        color: $asu_white;
        box-shadow: 0 1px 10px rgb(26 26 26 / 40%);
      }
    }
    #loginScrollStyle {
      border: 1px solid $asu_maroon;
      background: $asu_maroon;
      color: $asu_white;
      &:hover {
        background: $asu_black;
        border: 1px solid $asu_black;
        box-shadow: 0 1px 10px rgb(26 26 26 / 40%);
      }
    }
  }
  #dropdown {
    #langBtnScrollStyles {
      background: $asu_maroon;
      color: $asu_white;
      &:hover {
        background: $asu_black;
      }
    }
  }
}
