@use "./../../util/vars.scss" as *;

#divider {
  position: relative;
  bottom: 0;
  height: fit-content;
  overflow-y: visible;
  overflow-x: hidden;
  line-height: 0;
  transition: 1s all;
  background: transparent;
}

#divider svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: auto;
}

#divider .shape-fill {
  fill: $asu_white;
}
