@use "./../../util/vars.scss" as *;

.divider {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
}

.divider svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 207px;
}

.divider .shape-fill {
  fill: $asu_white;
}
