@use "./../../../util/vars.scss" as *;

#footer_container {
  margin-top: auto;
  // this weird padding is to make the footer stick to the bottom of the page
  padding-bottom: calc(7.4375rem + 0.5rem) !important; // the .5rem is for the padding on the footer
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem; // this is the padding on the footer
  flex-wrap: nowrap;
  text-align: center;
  box-shadow: $light_box_shadow;
  #description_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
